/* INIZIO ESERCIZIO */

.ex-1-square{
    background-color: red 2s ;
}
.ex-1-square:hover{
    background-color: red;
    transition: background-color 5s;
}

.ex-2-square:active{
    width: 100%;
    transition: all 4s;
}

.ex-3-square:hover{
    border-radius: 60px;
    transition: all 5s;
}

.ex-4-square:hover{
    background-color: #F5F5F5; 
    transition: all 4s;
}

.ex-5-square:hover{
    margin: 40px;
    width: 80px;
    height: 80px;
    background-color: red;
    transition: all 5s;
}
.ex-5-square:active{
    margin: 30px;
    width: 60px;
    height: 60px;
    background-color: red;
    transition: all 5s;
}

/* INIZIO FILTRI IMG */

.ex-6-img:hover{
    filter: grayscale(100%); 
}

.ex-7-img:hover{
    filter: grayscale(50%) sepia(50%);
    transition: all 5s;
}

.ex-8-img:hover{
    filter: grayscale(80%) opacity(50%);
    transition: all 5s;
    border-radius: 20%;
}

.ex-9-img:hover{
    filter: grayscale(80%) opacity(50%);
    transition: all 5s;
    border-radius: 20%;
    margin: 30px 70px;
    width: 250px;
}


/* INIZIO ESERCIZI ICONE */

