/* INIZIO ESERCIZIO */

.ex-1-square{
    background-color: red 2s ;
}
.ex-1-square:hover{
    background-color: red;
    transition: background-color 5s;
}

.ex-2-square:active{
    width: 100%;
    transition: all 4s;
}

.ex-3-square:hover{
    border-radius: 60px;
    transition: all 5s;
}

.ex-4-square:hover{
    background-color: #F5F5F5; 
    transition: all 4s;
}

.ex-5-square:hover{
    margin: 40px;
    width: 80px;
    height: 80px;
    background-color: red;
    transition: all 5s;
}
.ex-5-square:active{
    margin: 30px;
    width: 60px;
    height: 60px;
    background-color: red;
    transition: all 5s;
}

/* INIZIO FILTRI IMG */

.ex-6-img:hover{
    filter: grayscale(100%); 
}

.ex-7-img:hover{
    filter: grayscale(50%) sepia(50%);
    transition: all 5s;
}

.ex-8-img:hover{
    filter: grayscale(80%) opacity(50%);
    transition: all 5s;
    border-radius: 20%;
}

.ex-9-img:hover{
    filter: grayscale(80%) opacity(50%);
    transition: all 5s;
    border-radius: 20%;
    margin: 30px 70px;
    width: 250px;
}


/* INIZIO ESERCIZI ICONE */

.ex-10-icon{
    animation-name: ruota;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes ruota {
    from { 
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.ex-12-button:hover .ex-12-top-white{
    animation: move_top_white 4s;
}
.ex-12-button:hover .ex-12-bottom-white{
    animation: move_bottom_white 4s;
}

@keyframes move_top_white{
    0%{
        top: -10px;
        left: 10%;        
    }
    50%{
        top: -10%;
        left: 50%;
    }
    100%{
        top: -10%;
        left: 10%;    
        }
    }

    @keyframes move_bottom_white{
        0%{
            bottom: -10px;
            right: 10%;        
        }
        50%{
            bottom: -10%;
            right: 50%;
        }
        100%{
            bottom: -10%;
            right: 10%;    
            }
        }
   
   
        .ex-13-button:hover .ex-13-top-white{
            animation: move_complete_top_white 4s;
        }
        .ex-13-button:hover .ex-13-bottom-white{
            animation: move_complete_bottom_white 4s;
        }

        @keyframes move_complete_top_white{
            0%{
                top: -10px;
                left: 10%;        
            }
            20%{
                top: -10%;
                left: 85%;
            }
            40%{
                top: 60px;
                left: 85%;    
                }
            60%{
                top: 60px;
                left: -15%;        
                }
            80%{
                top: -10px;
                left: -15%;
                }
            100%{
                top: 60px;
                left: 85%;    
                }
                }
         

        @keyframes move_complete_bottom_white{
            0%{
                top: -10px;
                left: 20%;        
                }
            20%{
                top: -10%;
                left: 85%;
                }
            40%{
                top: 60px;
                left: 85%;    
                }
            60%{
                top: -10px;
                left: 10%;        
                }
            80%{
                top: -10%;
                left: 85%;
                 }
            100%{
                top: 60px;
                left: 85%;    
                }
                        }


